<!DOCTYPE html>
<html>
    <head>
        <title>Le Tour de France 2020</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <link href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
        <script src="/javascripts/app.js"></script>
    </head>
    <body>
        <h1><marquee behavior="scroll" direction="right">Le Tour de France 2020 🚵‍♂️</marquee></h1>

        <%= styled_flash %>

        <style>
            table, th, td { border: 1px solid black; }
            td { text-align: center; }
            table { width: 100%; }
        </style>

        <h3>Add/edit your pick</h3>
         <form action='/picks' method='post'>
            <label for="user_token">Token:</label>
            <input type="password" required="true" id="user_token" name="user_token"><br>
            <label for="stage_number">Stage:</label>
            <input type="number" required="true" min="1" max="21" id="stage_number" name="stage_number"><br>
            <label for="rider_name">Rider name:</label>
            <input type="text" required="true" id="rider_name" name="rider_name"><br>

            <button type="submit">Submit</button>
        </form>

        <br>
        <hr>
        <br>

        <h3>Top 5 most picked riders</h3>
         <ul>
            <% @most_picked.each do |n| %>
                <li><%= n.first %> => <%= n.last.join(', ') %></li>
            <% end %>
        </ul>

        <br>
        <hr>
        <br>

        <h3>Leaderboard</h3>
        <small>
            Criteria:
            <ol>
                <li>Sum of scores</li>
                <li>Sum of pick timestamps</li>
            </ol>
        </small>
         <ol>
            <% @leaderboard.each do |n| %>
                <li><%= n[0] %> (<%= n[1] %>)</li>
            <% end %>
        </ol>

        <br>
        <hr>
        <br>

        <table>
            <tr>
                <th>Stage #</th>
                <th>Date</th>
                <th></th>
                <% @users.each do |user| %>
                    <th colspan="2"><%= user.name %></th>
                <% end %>
            </tr>

            <% @stages.each do |stage| %>
                <% stage_picks = @picks&.select { |p| p.stage == stage } || [] %>
                <tr>
                    <td><form id="<%= "form_#{stage.id}" %>" method="post" action="/picks/scores"></form><%= stage.number %></td>
                    <td><%= stage.date.strftime('%Y-%m-%d') %></td>
                    <td>
                        <% if stage.locked? %>
                            <input form="<%= "form_#{stage.id}" %>" type="submit" value="Save scores" /></td>
                        <% elsif stage.lockable? %>
                            <form action='/stage/lock' method='post'>
                                <input type="hidden" required="true" min="1" max="21"
                                       id="stage_number" name="stage_number" value=<%= stage.number %>
                                >
                                <button type="submit" onclick="return confirm('Are you sure you want to lock this stage? This cannot be undone.')">Lock</button>
                            </form>
                        <% end %>
                    </td>
                    <% @users.each do |user| %>
                        <% pick = stage_picks.find { |p| p.stage == stage && p.user_name == user.name } %>

                        <% if pick.present? %>
                            <td>
                                <%= pick.curated_rider_name %>
                                <pre><%= pick.rider_updated_at.to_time.localtime('+01:00').strftime('%Y-%m-%d %H:%M:%S') %></pre>
                            </td>
                            <td>
                                <% if stage.locked? %>
                                    <input form="<%= "form_#{stage.id}" %>"
                                        type="number" max="<%= @number_of_riders %>" min="-50" size="4"
                                        name="<%= "picks[#{pick&.id}]" %>"
                                        value="<%= pick&.score %>"
                                    />
                                <% end %>
                            </td>
                        <% else %>
                            <td></td>
                            <td></td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </body>
</html>
